html {
    height: 100%;
}
h1 {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #F8F8F8;
    height: 400px;
    font-size: 100px;
    background-image: url(h1.jpg);
    background-size: cover;
    background-position: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee';
    font-size: 22px;
    background-color: #5A5050;
    background: url(b3.png);
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
button {
    border: 0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: 100%;
    background: url(b1.png);
    font-size: 2.5vw;
    color: #F8F8F8;
    transition: background 0.5s ease, color 1s ease;
}
@media all and (min-width: 1000px) {
    button {
        font-size: 24px;
    }
}
button:hover {
    background: url(b2.png);
}
button:active {
    background: url(b3.png);
}
td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.navigation {
    align-self: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 400px;
    min-width: 160px;
    width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.4s ease, color .7s ease;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}
.dropdown:not(:hover) .dropdown-button {
    color: #5A5050;
}
p {
    padding: 0;
    margin: 0;
}
iframe {
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    transition: 1s ease;
    border-radius: 25px;
    border: none;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}